<div class = "show-on-mobile-login">
  <%= render "components_mobile/header_logo" %>
  <div class="container p-3">
      <h2 class="big-header">¡Empecemos!<span> <span><i class="fa-solid fa-rocket"></i></h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs p-1 m-2">
          <div id="name-inputs">
            <div>
            <%= f.input :name,
                        label:"Nombre",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "John", class: "input-design"}%>
            </div>
            <div style="margin-left: 5px">
            <%= f.input :last_name,
                        label:"Apellidos",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Hancock", class: "input-design" }%>
            </div>
          </div>
          <%= f.input :email,
                      label: "Correo Electrónico",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "input-design" }%>
          <%= f.input :password,
                      label: "Contraseña",
                      required: true,
                      hint: ("#{@minimum_password_length} caracteres mínimo" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", class: "input-design" } %>
          <%= f.input :password_confirmation,
                      label: "Confirmar la Contraseña",
                      required: true,
                      input_html: { autocomplete: "new-password", class: "input-design" } %>
        </div>

        <div class="form-actions d-flex w-100 flex-column align-items-center">
          <%= f.button :submit, "Continuar", class: "btn btn-main-dark mt-2 w-100" %>
        </div>
      <% end %>
      <br>
  </div>
</div>
