<div class = "show-on-mobile-login">
  <%= render "components_mobile/header_logo" %>
    <h2 class="big-header">¡Empecemos!<span> <span><i class="fa-solid fa-rocket"></i></h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div id="name-input">
           <%= f.input :Nombre,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "John" }%>
            <%= f.input :Apellido,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Hancock" }%>
        </div>

        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
</div>
<%= render "devise/shared/links" %>
