<div class="alert alert-secondary" data-validate-users-target="reviewName" role="alert">
  <p>
    <i class="fa-solid fa-check"></i><b> Nombre:</b> <%= user.first_name %>
  </p>
  <p>
    <i class="fa-solid fa-check"></i><b> Apellidos:</b> <%= user.last_names %>
  </p>
   <p>
    <i class="fa-solid fa-check"></i><b> Nacionalidad:</b> <%= user.nationality %>
  </p>
  <p>
    <i class="fa-solid fa-check"></i><b> Género:</b> <%= user.gender %>
  </p>
  <p>
    <i class="fa-solid fa-check"></i><b> Número de teléfono:</b> <%= user.phone_number %>
  </p>
  <p>
  <i class="fa-solid fa-check"></i><b> Fecha de nacimiento:</b> <%= user.date_of_birth %>
  </p>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <a data-action= "click->validate-users#showNameValidationForm">Editar <i class="fa-solid fa-pencil"></i></a>
  </div>
</div>
