<!-- Mobile view -->
<div class = "show-on-mobile-login" data-controller="validate-users">
  <%= render "components_mobile/header_logo" %>
    <div class="container p-3">
        <div class="alert alert-secondary" role="alert">
          <h4 style="text-align:center">Vamos a verificar algunos datos</h4>
          <p>
            Tus datos serán procesados y si son aprobados serás candidato o candidata a publicar vehiculos
            y rentarlos.
          </p>
          <div class="d-flex flex-column align-items-center">
            <a class="btn btn-main-dark" data-validate-users-target= "startButton" data-action="click -> validate-users#startValidation"> Empezar</a>
          </div>
        </div>
      <table class="mobile-data-table w-100">
        <tr>
          <td class="p-3">
              <h5><b>Nombre y Apellidos</b></h5>
              <%= render partial: "mobile_forms/name_validation_form", locals: {user: @user} %>
          </td>
        </tr>
        <tr>
          <td class="p-3">
            <h5><b>Dirección</b></h5>
            <%= render partial: "mobile_forms/address_form", locals: {address: @address} %>
          </td>
        </tr>
        <tr>
          <td class="p-3">
            <h5><b>Contacto de emergencia</b></h5>
            <%= render partial: "mobile_forms/emergency_contact_form",
                       locals: {emergency_contact: @emergency_contact} %>
          </td>
        </tr>
        <tr>
          <td class="p-3">
            <h5><b>Pasaporte o INE</b></h5>
            <% if current_user.nationality == "México" %>
              <%= render partial: "mobile_forms/id_form" %>
            <% else %>
              <%= render partial: "mobile_forms/id_nonmexican_form" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="p-3">
            <h5><b>Licencia de conducir</b></h5>
            <%= render partial: "mobile_forms/licence_form" %>
          </td>
        </tr>
        <tr>
          <td class="p-3">
            <h5><b>Foto de perfil</b></h5>
            <%= render partial: "mobile_forms/profile_form" %>
          </td>
        </tr>
      </table>
  </div>
  <br>
</div>
<!-- End of Mobile View-->
